<div class="col-md-3">
  <%= link_to user_followings_path(user) do %>
    <p style="font-size: 20px;">フォロー&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.followings.count %></p>
  <% end %>
</div>
<div class="col-md-3">
  <%= link_to user_followers_path(user) do %>
    <p style="font-size: 20px;">フォロワー&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.followers.count %></p>
  <% end %>
</div>