<div class="dropdown">
  <a class="fs-3" href="notifications" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;">
    <i class="fas fa-bell" style="color: black;"></i>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 250px">
    <h5 class="text-center">通知</h5>
    <%= link_to notifications_destroy_all_path, method: :delete do %>
      <i class="fas fa-trash" style="color: black;"></i>
      <h7 style="color: black;">全削除</h7>
    <% end %>
    <%= paginate @notifications %>
    <hr>
    <% if @notifications.exists? %>
      <li class="users-index">
        <%= render @notifications %>
      </li>
    <% else %>
      <li>通知はありません</li>
    <% end %>
  </ul>
</div>