<div class="dropdown">
  <%= link_to 'notifications', class:"fs-2", 'role': :button, 'id': :dropdownMenuLink, 'data-bs-toggle': :dropdown, 'aria-expanded': :false do %>
    <i class="fas fa-bell" style="color: black;">
      <% if unchecked_notifications.any? %>
        <span class="position-absolute translate-middle badge rounded-pill text-black" style="font-size: 12px; background-color: #00fa9a;">
          <%= @notifications.count %>
        </span>
      <% end %>
    </i>
  <% end %>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 500px">
    <h5 class="text-center">通知</h5>
    <%= link_to destroy_all_notifications_path, method: :delete do %>
      <i class="fas fa-trash" style="color: red;"></i>
      <h7 style="color: red;"><strong>全削除</strong></h7>
    <% end %>
    <%#= paginate @notifications %>
    <hr>
    <% if @notifications.exists? %>
      <li class="users-index">
        <%= render @notifications %>
      </li>
    <% else %>
      <li>通知はありません</li>
    <% end %>
  </ul>
</div>