<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Users</h1>
        <!--ユーザー一覧を表示するためのテーブルを準備-->
        <table class="table table-hover table-inverse text-center">
          <thead>
            <tr class="table-warning">
              <th></th>
              <th>ユーザー名</th>
              <th>イントロダクション</th>
            </tr>
          </thead>
          <tbody>
            <!--ユーザー一覧のリストを取得する。-->
            <% @users.each do |user| %>
              <tr>
                <td><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "50x50" %></td>
                <td><%= link_to user.name, user_path(user.id) %></td>
                <td class="text-break"><%= user.introduction %></td>
            <% end %>
            <!---->
          </tbody>
        </table>
        <!---->
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <%= paginate @users %>
    </div>
  </div>
</main>