<table class="chat-table">
  <tr class="row justify-content-center">
    <td>
      <!-- 自分用の吹き出しCSSクラスを適用する -->
      <%= link_to task_task_comment_path(@task.id, task_comment), class:"btn-sm btn-danger float-end ms-3", method: :delete, remote:true do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
      <div class="says-task">
        <p class="chat-content"><%= task_comment.comment %></p>
      </div>
    </td>
    <td class="d-flex justify-content-end">
      <%= task_comment.created_at.strftime("%m/%d %H:%M") %>
    </td>
  </tr>
</table>