<div class="container">
  <div class="row mb-5">
    <div class="col-md-12 text-center">
      <h1 style="font-size: 100px;">Welcome to visiting</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1 text-center border border-info border border-5 rounded-3">
      <p class="text-center my-5" style="font-size:30px;">ようこそ！</p>
      <p class="text-center my-5" style="font-size:30px;">ここでは登録したユーザーのタスクやイベントを共有できます。</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-5">
      <p class="text-center" style="font-size:20px;">利用される場合、ご自身のアカウントが必要になります。</p>
      <p class="text-center" style="font-size:20px;">アカウント登録がまだお済みでない方は画面上部のSign upから登録をしてください。</p>
      <p class="text-center" style="font-size:20px;">アカウント登録がお済みの方は同じく画面上部のLog inからログインしてください。</p>
    </div>
  </div>
</div>
