<h1 class="text-center">Rooms</h1>
<table class="table table-hover table-inverse text-center">
  <thead>
    <tr class="rooms_header">
      <th></th>
      <th>ユーザー名</th>
    </tr>
  </thead>
  <tbody>
    <% @anotherEntries.each do |entry| %>
      <tr>
        <td><%= attachment_image_tag entry.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "50x50" %></td>
        <td><%= link_to entry.user.name, room_path(entry.room.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @anotherEntries %>