/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require fullcalendar
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 a {
  text-decoration: none;
 }

 // .logo {
 //  display: flex;
 // }

 footer {
  height: 65px;
 }

 .top {
  font-size: 100px;
 }

 label {
  font-size: 20px;
 }


#map {
  width: 100%;
  height: 100vh;
}

.white {
 background-color: white;
}

.darkmagenta {
 background-color: darkmagenta;
}

.col-2.offset-md-5.text-center {
 height: 65px;
}

#error_explanation {
 color: red;
}

// input#word {
//  background-color: #66ff33;
// }

// select {
//  background-color: #ff0a84;
// }

//----- スマートフォン用ディスプレイ -----//
@media screen and (min-width: 320px) and (max-width: 823px) {
 .wrap {
  overflow: hidden;
 }

 header {
  width: 100%;
 }

 .top {
  font-size: 80px;
 }
}



@import 'events';
@import 'tasks';