// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fc-sun {
  color: red;
  background-color: #ffe1e1;
}

.fc-sat {
  color: blue;
  background-color: #e9e9ff;
}

.fc-holiday {
  color: red;
  background-color: #ffe1e1;
}