// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 自分のメッセージの吹き出し
.says {
  float: right;
  position: relative;
  max-width: calc(50% - 56px);
  padding: 16px;
  background: #fbdfdf;
  border-radius: 15px;
  line-height: 1.5;
  word-break: break-all;
}
.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #fbdfdf;
  -webkit-transform: rotate(145deg);
  transform: rotate(145deg);
}

// 自分以外のメッセージの吹き出し
.other-user-says {
  float: left;
  position: relative;
  max-width: calc(50% - 56px);
  padding: 16px;
  background: #dfe9fb;
  border-radius: 15px;
  line-height: 1.5;
  word-break: break-all;
}
.other-user-says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #dfe9fb;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}