<span id="top_button">
  <%= link_to "" do %>
    <i class="fas fa-arrow-alt-circle-up d-flex flex" style="color: black;" data-turbolinks="false">
      <p class="mb-0 ps-1 text-center d-flex align-items-center" style="font-size: 15px;">ページtop</p>
    </i>
  <% end %>
</span>